<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>notepad</title>
</head>
<style type="text/css">
ol,ul{
display:block;
list-style-type:none;
margin:3px;
}
</style><body>
<div>body {<br>
&nbsp; background: #111;<br>
&nbsp; color: white;<br>
&nbsp; text-align: center;<br>
&nbsp; font-family: Arial;<br>
}<br>
<br>
h1 {<br>
&nbsp; color: gold;<br>
}<br>
<br>
input, select, button {<br>
&nbsp; padding: 10px;<br>
&nbsp; margin: 5px;<br>
}<br>
<br>
button {<br>
&nbsp; background: gold;<br>
&nbsp; border: none;<br>
&nbsp; cursor: pointer;<br>
}<br>
<br>
table {<br>
&nbsp; width: 90%;<br>
&nbsp; margin: auto;<br>
&nbsp; margin-top: 20px;<br>
}<br>
<br>
td, th {<br>
&nbsp; border: 1px solid #333;<br>
&nbsp; padding: 10px;<br>
}</div>
</body>
</html>
